{% extends 'base.html' %}

{% block meta %}  
  <title>Cards</title>
{% endblock meta %}

{% block content %}
      <!-- TODO loop from Friend model -->
    {% for i in notes %}
    <div class="card" style="width: 18rem;">
      <div class="card-body">
        <h5 class="card-title">{{i.Title}}</h5>
        <h6 class="card-subtitle mb-2 text-muted">a message to {{i.To}} from {{i.From}}</h6>
        <p class="card-text">{{i.Message}}</p>
      </div>
    </div>

    {% endfor %}
{% endblock content %}
