{% extends 'base.html' %}
{% load crispy_forms_tags %}
{% block meta %}
    <title>Note Form</title>
{% endblock meta %}

{% block content %}
    <form action="" method="post">
        {% csrf_token %}
        {{form|crispy}}
        <button type="submit" class="btn btn-primary">Submit</button>
    </form>
{% endblock content %}