{% extends 'base.html' %}

{% block meta %}
    <title>Table</title>
{% endblock meta %}

{% block content %}
  
    <table class="table">
      <thead class="thead-dark">
        <tr>
          <th scope="col">From</th>
          <th scope="col">To</th>
          <th scope="col">Title</th>
          <th scope="col">Message</th>
        </tr>
      </thead>
      <!-- TODO loop from Friend model -->
      {% for i in notes %}
    
      <tbody>
        <tr>
          <th scope="row">{{i.From}}</th>
          <td>{{i.To}}</td>
          <td>{{i.Title}}</td>
          <td>{{i.Message}}</td>
        </tr>
      </tbody>

      {% endfor %}

    </table>
      
      
{% endblock content %}