<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <title>Friend List</title>
  </head>
  <body>
    <form action="" method="post">
        {% csrf_token %}
        <label for="name">Name: </label> <br>
        <input id="name" type="text" name="name"> <br>
        <label for="npm">Npm: </label> <br>
        <input id="npm" type="text" name="npm"> <br>
        <label for="dob">DOB: </label> <br>
        <input id="dob" type="date" name="dob"> <br>
        <input type="submit" value="Submit">
    </form>
  </body>
</html>