<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <title>Notes</title>
  </head>
  <body>
    <table>
      <tr>
        <th>From</th>
        <th>To</th>
        <th>Title</th>
        <th>Message</th>
      </tr>
      <!-- TODO loop from Friend model -->
      {% for i in notes %}
      <tr>
        <td>{{i.To}}</td>
        <td>{{i.From}}</td>
        <td>{{i.Title}}</td>
        <td>{{i.Message}}</td>
      </tr>
      {% endfor %}
    </table>
  </body>
</html>